.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #252540;
  --primary-color: #2c4387;
  --secondary-color: #0449e0;
  --inverted-color: #a5a5c7;
  --modal-overlay-color: rgb(37 37 64 / 60%);
}
