.Button {
  cursor: pointer;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: var(--inverted-color);
}

.shadow {
  min-width: 45px;
  min-height: 45px;
  background: transparent;
  border-radius: 15px;
  border: none;
  box-shadow:
    rgb(0 0 0 / 25%) 0 54px 55px,
    rgb(0 0 0 / 12%) 0 -12px 30px,
    rgb(0 0 0 / 12%) 0 4px 6px,
    rgb(0 0 0 / 17%) 0 12px 13px,
    rgb(0 0 0 / 9%) 0 -3px 5px;
  padding: 2px 5px;
  color: var(--inverted-color);
}

.drib {
  min-width: 45px;
  min-height: 45px;
  background: var(--primary-color);
  border-radius: 15px;
  border: none;
  box-shadow:
    inset rgb(0 0 0 / 25%) 0 5px 5px,
    rgb(0 0 0 / 12%) 0 -12px 30px,
    rgb(0 0 0 / 12%) 0 4px 6px,
    rgb(0 0 0 / 17%) 0 12px 13px,
    rgb(0 0 0 / 9%) 0 -3px 5px;
  background-clip: border-box;
  padding: 2px 5px;
  color: var(--inverted-color);
}

.outline {
  padding: 5px;
  border: 2px solid var(--inverted-color);
  color: var(--inverted-color);
  border-radius: 5px;
  background-color: transparent;
}
