
.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
}

.circle_shadow_45 {
    width: 45px;
    height: 45px;
    background: transparent;
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
            rgba(0, 0, 0, 0.12) 0px -12px 30px, 
            rgba(0, 0, 0, 0.12) 0px 4px 6px, 
            rgba(0, 0, 0, 0.17) 0px 12px 13px, 
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.circle_shadow_45_drib {
    width: 45px;
    height: 45px;
    background: transparent;
    border-radius: 15px;
    border: none;
    box-shadow: inset rgba(0, 0, 0, 0.25) 0px 5px 5px, 
            rgba(0, 0, 0, 0.12) 0px -12px 30px, 
            rgba(0, 0, 0, 0.12) 0px 4px 6px, 
            rgba(0, 0, 0, 0.17) 0px 12px 13px, 
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-clip: border-box;
}